@import "~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.css"
@import "~startbootstrap-sb-admin-2/css/sb-admin-2.css"
@import "~startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css"

.img-profile
  text-align center
  line-height 32px