{% extends 'page/layout.html.twig' %}

{% block description %}{{ 'description.bankReference'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.bankReference'|trans }}{% endblock %}
{% block title %}{{ 'tittle.approve'|trans }}{% endblock %}

{% block body %}
    {% include 'page/components/header.html.twig' %}
    <section class="container">
        <i class="payment-success-img d-block text-center margin-top-50 color-green far fa-check-circle"></i>
        <h2 class="font-weight-bold color-green font-weight-bold text-center margin-top-30 margin-bottom-70 text-uppercase">
            {{ 'page.confirmationOrder.text'|trans }}
        </h2>
    </section>


    {% include 'page/components/footer.html.twig' %}

{% endblock %}