@import "~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.css"
@import "~normalize.css/normalize.css"
@import "~bootstrap/dist/css/bootstrap.css"
@import '~select2/dist/css/select2.css'
@import "~animate.css/animate.css"
@import "~intl-tel-input/build/css/intlTelInput.min.css"
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css"

@font-face
  font-family MonseratBold
  src url("./font/Montserrat-Bold.otf")

@font-face
  font-family MonseratRegular
  src url('./font/Montserrat-Regular.otf')

@font-face
  font-family MonseratItalic
  src url("./font/Montserrat-ExtraLightItalic.otf")

*:focus, .form-control:focus
  outline none !important

.form-control:focus
  border-color #ced4da !important
  box-shadow: 0 0 0 0.2rem rgba(177, 227, 96, 0.65);

.iti__flag
  background-image url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags@2x.png")

.iti
  display block !important

body
  font-family MonseratRegular
  color #282828

.logo img
  width 300px

.color-green
  color #b1e360

.background-green
  background-color #b1e360 !important

.background-red
  background-color #DA1931

.rotate
  transform skew(-20deg)

.custom-border-red
  border: 2px solid #da1931
  border-radius: 20px 0 20px 0

.custom-border-red-form
  border: 2px solid #da1931
  border-radius: 0 0 20px 0

.color-red
  color #DA1931

.nav-link-contact:hover
  color #DA1931
  text-decoration underline

.border-bottom-40-red
  border-bottom 1px solid #DA1931
  padding-bottom 40px

.margin-top-30
  margin-top 30px

.margin-top-50
  margin-top 50px

.margin-top-70
  margin-top 70px

.main-menu-padding-20
  padding-bottom 20px
  padding-top 20px

.submit-button
  overflow hidden
  background-color #b1e360
  border 1px solid #b1e360
  padding 10px 20px 10px 20px
  font-weight bold
  color #fff

.color-white
  color #FFFFFF !important

.service-link
  text-decoration none
  color #282828
  font-size 18px
  display block
  height 100%

.service-link img
  max-width 80%

nav ul li a,
nav ul li a:after,
nav ul li a:before
  transition: all .5s;

nav.fill ul li a
  position: relative;
  color #FFFFFF !important

nav.fill ul li a:after
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #FFFFFF;
  height: 1px;

nav.stroke ul li a:hover:after
  width: 100%;

nav.fill ul li a:after
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;

nav.fill ul li a:hover
  color: #fff;
  z-index: 1;

@-webkit-keyframes fill
  0%
    width 0
    height: 1px
  50%
    width: 100%
    height: 1px
  100%
    width: 100%
    height: 100%
    background: #FFFFFF

nav.fill ul li a:hover:after
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;

nav.fill ul li a:hover
  color #DA1931 !important;
  transition: color 2s;

.order-online
  overflow:hidden
  -ms-transform: skew(-25deg); /* IE 9 */
  -webkit-transform: skew(-25deg); /* Chrome, Safari, Opera */
  transform: skew(-25deg); /* Standard syntax */
  background-color #B1E360
  border 1px solid #B1E360
  padding 10px 20px 10px 20px
  font-weight bold
  color #FFFFFF
  display block

.order-online-carusel
  overflow:hidden
  -ms-transform: skew(-25deg); /* IE 9 */
  -webkit-transform: skew(-25deg); /* Chrome, Safari, Opera */
  transform: skew(-25deg); /* Standard syntax */
  background-color #B1E360
  border 1px solid #B1E360
  padding 10px 20px 10px 20px
  font-weight bold
  color #FFFFFF

.pdf-bages
  padding 10px 20px
  background-color #c1c1c1
  border-radius 5px
  transform: skew(-25deg);

#client_phone_save
  background-color #B1E360
  border 1px solid #B1E360
  font-weight bold
  color #FFFFFF
  text-transform uppercase

.confirm-conditions
  font-size 20px

.order-online-text
  transform: skew(+25deg);

.hide
  display none

.order-online:hover, #client_phone_save:hover, #insurance_save:hover, .order-online-carusel:hover
  background-color #B9EC37
  color #FFFFFF
  transition all 0.3s

nav.shift ul li a
  position:relative;
  z-index: 1;

nav.shift ul li a:hover
  color: #101112;

nav.shift ul li a:after
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #FFFFFF;
  visibility: none;
  opacity: 0;
  z-index: -1;

.borders-conditions
  border-top 1px solid #c1c1c1
  border-bottom 1px solid #c1c1c1

.conditions-links:hover
  color #1b1e21

.text-area-condition
  height 200px
  border 1px solid #c1c1c1
  padding 10px 20px 10px 20px
  border-radius 15px
  resize none
  font-size 18px


nav.shift ul li a:hover:after
  opacity: 1;
  visibility: visible;
  height: 100%;

.menu-footer ul li a
  color #FFFFFF
  text-decoration none

.payment-success-img
  font-size 300px

.background-black
  background-color #101112

.border-bottom-footer
  border-bottom 1px solid #595A5B

.footer-text-by
  color #595A5B
  font-size 13px

.logo-footer
  width 250px

.slide-1-text
  transform: skew(-15deg);
  position: absolute;
  font-weight 600
  font-size 20px
  top: 18%;
  left: 65%;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.85);
  color: red;
  text-transform: uppercase;

.slide-1-text-transform
  transform: skew(15deg);

.flip-card, .flip-card-options {
  background-color: transparent;
  min-height 380px
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-options
  min-height 240px

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top 0
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back
  color white
  background-color #da1931
  border-radius 0 18px 0 18px
  transform rotateY(180deg)



.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

.progressbar li:after
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;

.progressbar li:first-child:after
  content: none;

.progressbar li.active
  color: green;

.progressbar li.active:before
  border-color: #55b776;

.progressbar li.active + li:after
  background-color: #55b776;

#insurance_dateBirth .select2, #insurance_dateBirthInsurant .select2
    width 20% !important

#insurance_dateBirth .select2-container--bootstrap4:last-child, #insurance_dateBirth .select2-container--bootstrap4:nth-child(5n)
  margin-left 50px

#insurance_dateBirthInsurant .select2-container--bootstrap4:last-child, #insurance_dateBirthInsurant .select2-container--bootstrap4:nth-child(5n)
  margin-left 50px

.choseInsurantLeft, .choseInsurantRight
  padding 15px 30px
  border 1px solid #ced4da
  font-weight bolder
  cursor pointer

.chosedInsurant
  background-color #b1e360

.choseInsurantLeft
  border-radius 20px 0 0 20px
  &:hover
    background-color #b1e360

.choseInsurantRight
  border-radius 0 20px 20px 0
  &:hover
    background-color #b1e360

//-------------------------------------------------------------//

#manufacture
  h1
    font-family MonseratBold
    letter-spacing 3px
    color: #282828;

.car-models
  margin-bottom 60px !important
  h1
    font-weight bold
    text-align center
    margin-top 3%
    font-size 37px

.car-links
  display flex
  flex-direction row
  justify-content space-around

.model-link
  text-decoration none
  color #282828
  font-size 20px
  p
    font-size 18px
  &:hover
    color #e30613
  img
    max-width 50%
    margin auto


.searching-level
  display flex
  flex-direction row
  justify-content space-between
  margin-bottom 60px

.searching-params-block
  margin-bottom 60px !important
  .searching-selector
    border 2px solid #000
    color #000
    border-radius 0
    box-shadow none

.search-car-form
  .container-form-params
    display flex
    flex-direction row
    justify-content space-around
  .submit-search-form
    display flex
    flex-direction row
    justify-content flex-end
    width 98.4%
  .searching-params-forms
    width 30%
    .search-more-params-container
      display flex
      justify-content flex-end

.select2-container--bootstrap4
  .select2-results__option--highlighted
    background-color #e30613 !important

.select2-container--bootstrap4
  .select2-results__option--highlighted
    .select2-results__option[aria-selected="true"]
      background-color #e30613 !important

.submit-search
  margin-top 20px
  color #ffffff
  background-color #e30613
  border 1px solid #e30613
  border-radius 0
  padding 15px 60px
  transition background-color 0.4s
  &:hover
    background-color #c40611
    border 1px solid #c40611
    text-decoration underline

#search-more-params
  color #282828
  font-family MonseratBold
  text-decoration underline
  letter-spacing 1px
  img
    width 14px
    height 8px
    margin-bottom 2.78px

.container-custom
  width 85%
  margin auto

.select2-container--bootstrap4
  .select2-selection
    box-shadow none !important
    border 2px solid #ced4da !important
    border-radius 0.25rem


.select2-container--bootstrap4
  .select2-container--focus
    .select2-selection
      box-shadow none !important
      border-color #da1931 !important

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b
  border-width 8px 7px 0 7px
  margin-left -12px
  margin-top -4px
  border-color #b1e360 transparent transparent transparent

header img
  width 100%
  height auto

@media (min-width: 1200px)
  .main-container
    max-width 1500px

.margin-bottom-30
  margin-bottom 30px

.margin-bottom-50
  margin-bottom 50px

.margin-bottom-70
  margin-bottom 70px

.expanded-search
  max-height 0
  overflow hidden
  transition max-height 0.5s ease-in-out

.expanded-search.visible
  max-height 400px

#about-car
  margin-top 50px
  display flex
  flex-direction row

.link-back
  width 80%
  margin auto
  display flex
  font-size 15px
  a
    color #282828
    opacity 0.7
    text-transform uppercase
    letter-spacing: 1px;
  a:hover
    opacity 1
    text-decoration none
    color #282828
  p
    text-decoration underline
    letter-spacing: 1px;
    cursor default

.lef-side
  width 57%
  .car-photos
    display flex
    flex-direction column
    align-items center
    .smallest-photo-car
      display flex
      flex-direction column
      justify-content center
      align-items center
      width 80%
      margin-top 15px
      .container-level-photo
        display flex
        flex-direction row
        justify-content space-between
        margin-bottom 15px
    #preview-photo
      width 80%

.mark-car
  width 80%
  margin auto
  padding 20px 0
  border-bottom 1px solid #282828
  p
    color #282828

.preview-photo-small
  width 24%

.social-car
  width 80%
  margin auto
  padding 30px 0
  border-bottom 1px solid #282828
  h2
    font-weight bold
    font-size 20px
    color #282828
  .social-networks
    margin-top 20px
    margin-bottom 20px
    i
      color #282828
      font-size 45px
      margin-right 2%
  a
    color #282828
    font-size 12px
    text-decoration underline

.why-autoeder
  width 80%
  margin auto
  border-bottom 1px solid #282828
  padding 30px 0
  h2
    font-family MonseratBold
    margin-bottom 15px
    font-size 24px
    color #282828
  ul
    padding-left 16px
    li
      margin-bottom 7px

.feedback-user-car
  width 80%
  margin auto
  padding 30px 0
  h2
    font-family MonseratBold
    margin-bottom 15px
    font-size 24px
    color #282828
  .comment-user
    font-family MonseratItalic
    font-size 25px
  .user
    text-align end

.right-side
  width 39%

.container-right-side
  width 98%
  margin-top 34px

.detail-manufakrura-car
  margin 0
  text-transform uppercase
  font-family MonseratBold
  font-size 15px

.detail-price
  display flex
  flex-direction row
  justify-content space-between
  align-items end
  p:first-child
    font-family MonseratBold
    margin-bottom 8px
  p:last-child
    font-family MonseratBold
    font-size 30px
    margin 0

.detail-discount
  text-align end
  p
    margin 0
  p:last-child
    font-family MonseratBold

.question-about-car
  margin-top 50px
  text-align end
  padding-bottom 80px
  border-bottom 1px solid #282828
  a
    padding 20px 65px
    background-color #e30613
    border 1px solid #e30613
    color #ffffff
  a:hover
    background-color #c40611
    border 1px solid #c40611

.detail-model-car
  font-family MonseratBold
  margin-bottom 30px
  font-weight 500

.complect
  border-bottom 1px solid #282828

.complect-detail
  display flex
  flex-direction row
  justify-content space-between
  border-bottom 1px solid #d8dee2
  p
    margin 0
    padding 10px 0
  p:last-child
    font-family MonseratBold

.complect-detail:last-child
  border-bottom none
  margin-bottom 30px

.complect-detail:first-child
  margin-top 30px

.complect-choise
  border-bottom 1px solid #282828
  h2
    margin-top 25px
    font-family MonseratBold
    margin-bottom 15px
    font-size 24px
    color #282828
  ul
    padding-left 16px
    margin-bottom 30px
    li
      margin-bottom 7px

.complect-in-price
  border-bottom 1px solid #282828
  h2
    margin-top 25px
    font-family MonseratBold
    margin-bottom 15px
    font-size 24px
    color #282828
  ul
    padding-left 16px
    margin-bottom 30px
    li
      margin-bottom 7px

.standart-complect
  h2
    margin-top 25px
    font-family MonseratBold
    margin-bottom 25px
    font-size 24px
    color #282828
  .standart-complect-name
    font-family MonseratBold

.order-test-drive-button
  text-align end
  margin-top 70px

.order-test-drive
  padding 20px 65px
  background-color #e30613
  border 1px solid #e30613
  color #ffffff

.order-test-drive:hover
  background-color #c40611
  border 1px solid #c40611
  color #ffffff

.detail-contacts
  h2
    margin-top 80px
    font-family MonseratBold
    margin-bottom 25px
    font-size 24px
    color #282828
  .name-sale
    font-family MonseratBold
    margin-bottom 0
  .position-sale
    margin-bottom 10px
  .sale-contact
    margin-bottom 0
  .last-sale-contact
    margin-bottom 20px