{% extends 'admin/layout.nav.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
    <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias beatae commodi consequuntur enim
        excepturi harum impedit necessitatibus nostrum obcaecati perferendis quasi, reiciendis ullam voluptas
        voluptatem! Quas quod tempore vel.
    </p>
{% endblock %}